
mixin guestQuantityDropdown(adults=0, children=0, babies=0)
	div.itemQuantityDropdown
		h2.visually-hidden= "Список опций"
		button.itemQuantityDropdown__toggle(type="button")
			p.itemQuantityDropdown__selection= "Сколько гостей"
			span.itemQuantityDropdown__arrowDown
		ul.itemQuantityDropdown__dropdownMenu
			li.itemQuantityDropdown__menuOption
				p.itemQuantityDropdown__item= "Взрослые"
				button(type="button", disabled).itemQuantityDropdown__controlButton.itemQuantityDropdown__controlButton--minus
				span.itemQuantityDropdown__currentQuantity= adults
				button(type="button").itemQuantityDropdown__controlButton.itemQuantityDropdown__controlButton--plus
			li.itemQuantityDropdown__menuOption
				p.itemQuantityDropdown__item= "Дети"
				button(type="button", disabled).itemQuantityDropdown__controlButton.itemQuantityDropdown__controlButton--minus
				span.itemQuantityDropdown__currentQuantity= children
				button(type="button").itemQuantityDropdown__controlButton.itemQuantityDropdown__controlButton--plus
			li.itemQuantityDropdown__menuOption
				p.itemQuantityDropdown__item= "Младенцы"
				button(type="button", disabled).itemQuantityDropdown__controlButton.itemQuantityDropdown__controlButton--minus
				span.itemQuantityDropdown__currentQuantity= babies
				button(type="button").itemQuantityDropdown__controlButton.itemQuantityDropdown__controlButton--plus

			li.itemQuantityDropdown__controlButtons
				button(type="button").itemQuantityDropdown__applyButton= "применить"
				button(type="button").itemQuantityDropdown__clearButton= "очистить"